.organism-1332 .organism-element.organism-element-bba5b5c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-1332
  .organism-element.organism-element-bba5b5c
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-1332
  .organism-element.organism-element-a795e47
  > .organism-element-populated {
  padding: 0;
}
.organism-1332
  .organism-element.organism-element-650b6bb
  .atomic-menu__wrapper {
  height: 107px;
}
.organism-1332
  .organism-element.organism-element-650b6bb
  .atomic-menu__desktop {
  height: 107px;
}
.organism-1332
  .organism-element.organism-element-70803c3
  > .organism-element-populated {
  padding: 0;
}
.organism-1332
  .organism-element.organism-element-686da2a3:not(.organism-motion-effects-element-type-background),
.organism-1332
  .organism-element.organism-element-686da2a3
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #061b23;
}
.organism-1332 .organism-element.organism-element-686da2a3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0;
}
.organism-1332
  .organism-element.organism-element-686da2a3
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-1332
  .organism-element.organism-element-61bd3fbb
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-1332
  .organism-element.organism-element-61bd3fbb
  > .organism-element-populated {
  padding: 0 0 0 30px;
}
.organism-1332 .organism-element.organism-element-6978dca9 .atomic-logo {
  text-align: left;
}
.organism-1332 .organism-element.organism-element-6978dca9 {
  width: 118px;
  max-width: 118px;
  align-self: flex-start;
}
.organism-1332
  .organism-element.organism-element-7ba5059f
  .organism-spacer-inner {
  height: 35px;
}
.organism-1332 .organism-element.organism-element-69f8432 {
  color: #fff;
  font-weight: 400;
}
.organism-1332
  .organism-element.organism-element-69f8432
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-1332 .organism-element.organism-element-187d3573 .atomic-phone {
  font-weight: 300;
  color: #bababa;
}
.organism-1332 .organism-element.organism-element-187d3573 .atomic-phone:hover {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-5dc42ac5
  .organism-spacer-inner {
  height: 25px;
}
.organism-1332 .organism-element.organism-element-432c6047 {
  color: #fff;
  font-weight: 400;
}
.organism-1332
  .organism-element.organism-element-432c6047
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-1332 .organism-element.organism-element-137d8bf0 .atomic-email {
  font-weight: 300;
  color: #bababa;
}
.organism-1332 .organism-element.organism-element-137d8bf0 .atomic-email:hover {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-291b7d7
  .organism-spacer-inner {
  height: 25px;
}
.organism-1332 .organism-element.organism-element-7e62db1e {
  color: #fff;
  font-weight: 400;
}
.organism-1332
  .organism-element.organism-element-7e62db1e
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-1332 .organism-element.organism-element-1c4607d2 .atomic-address {
  font-weight: 300;
  color: #bababa;
}
.organism-1332 .organism-element.organism-element-1c4607d2 {
  width: 136px;
  max-width: 136px;
}
.organism-1332
  .organism-element.organism-element-49170f78
  .organism-spacer-inner {
  height: 34px;
}
.organism-1332
  .organism-element.organism-element-6aaca697
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-1332
  .organism-element.organism-element-6aaca697
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-1332
  .organism-element.organism-element-59f56254
  .organism-heading-title {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-59f56254
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-1332 .organism-element.organism-element-82818d2 a {
  color: #bababa;
}
.organism-1332 .organism-element.organism-element-82818d2 a:hover {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-2a25dd28
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-1332
  .organism-element.organism-element-2a25dd28
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-1332
  .organism-element.organism-element-4370c26d
  .organism-heading-title {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-4370c26d
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-1332 .organism-element.organism-element-67600336 a {
  color: #bababa;
}
.organism-1332 .organism-element.organism-element-67600336 a:hover {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-5118af21
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-1332
  .organism-element.organism-element-5118af21
  > .organism-element-populated {
  padding: 0 30px 0 0;
}
.organism-1332
  .organism-element.organism-element-72839aa6
  .organism-heading-title {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-72839aa6
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-1332
  .organism-element.organism-element-63743b48
  .atomic-mini-listings__title {
  color: #fff;
}
.organism-1332
  .organism-element.organism-element-63743b48
  .atomic-mini-listings__price {
  color: #bababa;
}
.organism-1332
  .organism-element.organism-element-63743b48
  .atomic-mini-listings__in {
  color: #bababa;
}
.organism-1332
  .organism-element.organism-element-63743b48
  .atomic-mini-listings__categories
  a {
  color: #bababa;
}
.organism-1332
  .organism-element.organism-element-48a3ad63:not(.organism-motion-effects-element-type-background),
.organism-1332
  .organism-element.organism-element-48a3ad63
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #061b23;
}
.organism-1332 .organism-element.organism-element-48a3ad63 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-1332
  .organism-element.organism-element-48a3ad63
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-1332
  .organism-element.organism-element-7352b0be
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-1332
  .organism-element.organism-element-7352b0be
  > .organism-element-populated {
  padding: 0 15px;
}
.organism-1332 .organism-element.organism-element-7aebed7a svg {
  fill: #e4ebf026;
}
.organism-1332
  .organism-element.organism-element-7aebed7a
  > .organism-widget-container {
  margin: 0 -15px;
}
.organism-1332
  .organism-element.organism-element-6b54dd9
  .organism-spacer-inner {
  height: 44px;
}
.organism-1332 .organism-element.organism-element-b59e4f4 .atomic-copyrights {
  text-align: center;
  color: #bababa;
}
.organism-1332
  .organism-element.organism-element-870b4e3
  .organism-spacer-inner {
  height: 44px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-1332 .organism-element.organism-element-61bd3fbb {
    width: 50%;
  }
  .organism-1332 .organism-element.organism-element-6aaca697 {
    width: 50%;
  }
  .organism-1332 .organism-element.organism-element-2a25dd28 {
    width: 50%;
  }
  .organism-1332 .organism-element.organism-element-5118af21 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .organism-1332
    .organism-element.organism-element-686da2a3
    > .organism-container {
    max-width: 900px;
  }
  .organism-1332 .organism-element.organism-element-686da2a3 {
    padding: 70px 0;
  }
  .organism-1332
    .organism-element.organism-element-61bd3fbb
    > .organism-element-populated {
    padding: 0 30px 0 15px;
  }
  .organism-1332
    .organism-element.organism-element-6aaca697
    > .organism-element-populated {
    margin: 70px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 30px 0 15px;
  }
  .organism-1332
    .organism-element.organism-element-59f56254
    > .organism-widget-container {
    margin: 0 0 33px;
  }
  .organism-1332 .organism-element.organism-element-82818d2 a {
    color: #fff;
  }
  .organism-1332
    .organism-element.organism-element-2a25dd28
    > .organism-element-populated {
    margin: 70px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 15px 0 30px;
  }
  .organism-1332
    .organism-element.organism-element-4370c26d
    > .organism-widget-container {
    margin: 0 0 33px;
  }
  .organism-1332 .organism-element.organism-element-67600336 a {
    color: #fff;
  }
  .organism-1332
    .organism-element.organism-element-5118af21
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 15px 0 30px;
  }
  .organism-1332
    .organism-element.organism-element-72839aa6
    > .organism-widget-container {
    margin: 15px 0 33px;
  }
  .organism-1332
    .organism-element.organism-element-7352b0be.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-1332 .organism-element.organism-element-b59e4f4 {
    width: 768px;
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .organism-1332 .organism-element.organism-element-686da2a3 {
    padding: 70px 0;
  }
  .organism-1332
    .organism-element.organism-element-61bd3fbb.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-1332
    .organism-element.organism-element-61bd3fbb
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-1332 .organism-element.organism-element-6978dca9 .atomic-logo {
    text-align: center;
  }
  .organism-1332 .organism-element.organism-element-6978dca9 {
    width: 118px;
    max-width: 118px;
  }
  .organism-1332
    .organism-element.organism-element-7ba5059f
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-1332 .organism-element.organism-element-69f8432 {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-69f8432
    > .organism-widget-container {
    margin: 0;
  }
  .organism-1332
    .organism-element.organism-element-187d3573
    .atomic-phone-wrapper {
    text-align: center;
  }
  .organism-1332 .organism-element.organism-element-187d3573 {
    width: 100%;
    max-width: 100%;
  }
  .organism-1332
    .organism-element.organism-element-5dc42ac5
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-1332 .organism-element.organism-element-432c6047 {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-432c6047
    > .organism-widget-container {
    margin: 0;
  }
  .organism-1332
    .organism-element.organism-element-137d8bf0
    .atomic-email-wrapper {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-291b7d7
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-1332 .organism-element.organism-element-7e62db1e {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-7e62db1e
    > .organism-widget-container {
    margin: 0;
  }
  .organism-1332 .organism-element.organism-element-1c4607d2 .atomic-address {
    text-align: center;
  }
  .organism-1332 .organism-element.organism-element-1c4607d2 {
    width: 100%;
    max-width: 100%;
  }
  .organism-1332
    .organism-element.organism-element-49170f78
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-1332
    .organism-element.organism-element-48d31bec
    .atomic-social-profiles {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-6aaca697.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-1332
    .organism-element.organism-element-6aaca697
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-1332 .organism-element.organism-element-59f56254 {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-59f56254
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-1332 .organism-element.organism-element-82818d2 {
    width: 384px;
    max-width: 384px;
  }
  .organism-1332
    .organism-element.organism-element-2a25dd28.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-1332
    .organism-element.organism-element-2a25dd28
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-1332 .organism-element.organism-element-4370c26d {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-4370c26d
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-1332 .organism-element.organism-element-67600336 {
    width: 384px;
    max-width: 384px;
  }
  .organism-1332
    .organism-element.organism-element-5118af21.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-1332
    .organism-element.organism-element-5118af21
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-1332 .organism-element.organism-element-72839aa6 {
    text-align: center;
  }
  .organism-1332
    .organism-element.organism-element-72839aa6
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-1332 .organism-element.organism-element-63743b48 {
    width: 400px;
    max-width: 400px;
  }
  .organism-1332
    .organism-element.organism-element-7aebed7a
    > .organism-widget-container {
    margin: 0 -15px;
  }
  .organism-1332
    .organism-element.organism-element-6b54dd9
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-1332 .organism-element.organism-element-b59e4f4 {
    width: 330px;
    max-width: 330px;
  }
  .organism-1332
    .organism-element.organism-element-870b4e3
    .organism-spacer-inner {
    height: 50px;
  }
}
