/* organism-widget-container */
.organism-871
  .organism-element.organism-element-5db6b5cc
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-871
  .organism-element.organism-element-5db6b5cc:not(.organism-motion-effects-element-type-background),
.organism-871
  .organism-element.organism-element-5db6b5cc
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-image: url(../../2021/05/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}
.organism-871
  .organism-element.organism-element-5db6b5cc
  > .organism-background-overlay {
  background-color: #04181e;
  opacity: 0;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-871 .organism-element.organism-element-5db6b5cc {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0;
}
.organism-871
  .organism-element.organism-element-46f9ad08
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-871
  .organism-element.organism-element-46f9ad08
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-871
  .organism-element.organism-element-7bd32e1
  .organism-spacer-inner {
  height: 20px;
}
.organism-871 .organism-element.organism-element-4ff05f5e .atomic-breadcrumbs {
  justify-content: center;
}
.organism-871
  .organism-element.organism-element-4ff05f5e
  .atomic-breadcrumbs__link {
  color: #222;
}
.organism-871
  .organism-element.organism-element-4ff05f5e
  .atomic-breadcrumbs__last {
  color: #5b818e;
}
.organism-871
  .organism-element.organism-element-53b6196
  > .organism-element-populated {
  padding: 0;
}
.organism-871
  .organism-element.organism-element-c74c106
  .organism-spacer-inner {
  height: 100px;
}
.organism-871
  .organism-element.organism-element-611a17b
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-871
  .organism-element.organism-element-611a17b
  > .organism-element-populated {
  padding: 0 22px 0 30px;
}
.organism-871
  .organism-element.organism-element-d4c1287
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-871
  .organism-element.organism-element-d4c1287
  > .organism-element-populated {
  padding: 0 30px 0 8px;
}
.organism-871
  .organism-element.organism-element-faf9d94
  .organism-spacer-inner {
  height: 50px;
}
.organism-871
  .organism-element.organism-element-764d6e3
  .organism-spacer-inner {
  height: 50px;
}
.organism-871
  .organism-element.organism-element-928eef9
  .organism-spacer-inner {
  height: 50px;
}
.organism-871
  .organism-element.organism-element-1c47c8a
  .organism-spacer-inner {
  height: 50px;
}
.organism-871
  .organism-element.organism-element-3949559
  > .organism-element-populated {
  padding: 0;
}
.organism-871
  .organism-element.organism-element-5f21c9f
  .organism-spacer-inner {
  height: 50px;
}
@media (max-width: 1024px) {
  .organism-871
    .organism-element.organism-element-5db6b5cc:not(.organism-motion-effects-element-type-background),
  .organism-871
    .organism-element.organism-element-5db6b5cc
    > .organism-motion-effects-container
    > .organism-motion-effects-layer {
    background-position: center left;
  }
  .organism-871 .organism-element.organism-element-5db6b5cc {
    padding: 70px 0;
  }
  .organism-871
    .organism-element.organism-element-46f9ad08
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-871
    .organism-element.organism-element-7bd32e1
    .organism-spacer-inner {
    height: 10px;
  }
  .organism-871
    .organism-element.organism-element-c74c106
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-871
    .organism-element.organism-element-611a17b.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-871
    .organism-element.organism-element-611a17b
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-871 .organism-element.organism-element-45f6c10 {
    width: 750px;
    max-width: 750px;
  }
  .organism-871
    .organism-element.organism-element-d4c1287
    > .organism-element-populated {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .organism-871 .organism-element.organism-element-5db6b5cc {
    padding: 50px 0;
  }
  .organism-871
    .organism-element.organism-element-7bd32e1
    .organism-spacer-inner {
    height: 5px;
  }
  .organism-871
    .organism-element.organism-element-4ff05f5e
    .atomic-breadcrumbs {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .organism-871 .organism-element.organism-element-611a17b {
    width: 67%;
  }
  .organism-871 .organism-element.organism-element-d4c1287 {
    width: 33%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-871 .organism-element.organism-element-611a17b {
    width: 100%;
  }
  .organism-871 .organism-element.organism-element-d4c1287 {
    width: 100%;
  }
}
