.organism-374
  .organism-element.organism-element-712b061
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-374 .organism-element.organism-element-712b061 {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #e4ebf0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-374
  .organism-element.organism-element-712b061
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-374
  .organism-element.organism-element-92ff06d.organism-column
  > .organism-widget-wrap {
  justify-content: space-between;
}
.organism-374
  .organism-element.organism-element-92ff06d
  > .organism-element-populated {
  margin: 30px 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.organism-374
  .organism-element.organism-element-f03d1c5
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-374
  .organism-element.organism-element-60de507
  > .organism-element-populated {
  padding: 0 0 0 30px;
}
.organism-374
  .organism-element.organism-element-1be4a31
  .atomic-breadcrumbs__link {
  color: #222;
}
.organism-374 .organism-element.organism-element-1be4a31 {
  width: auto;
  max-width: auto;
}
.organism-374
  .organism-element.organism-element-d904d49.organism-column
  > .organism-widget-wrap {
  justify-content: flex-end;
}
.organism-374
  .organism-element.organism-element-d904d49
  > .organism-element-populated {
  padding: 0 30px 0 0;
}
.organism-374 .organism-element.organism-element-da5e77e .atomic-social-share {
  text-align: right;
}
.organism-374 .organism-element.organism-element-da5e77e {
  width: auto;
  max-width: auto;
}
.organism-374
  .organism-element.organism-element-c64242b
  > .organism-widget-container {
  margin: 0 0 0 11px;
}
.organism-374 .organism-element.organism-element-c64242b {
  width: auto;
  max-width: auto;
}
.organism-374 .organism-element.organism-element-c3eb0ca > .organism-container {
  max-width: 1200px;
}
.organism-374
  .organism-element.organism-element-cecbc68
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-374
  .organism-element.organism-element-4b83ec6
  .organism-spacer-inner {
  height: 45px;
}
.organism-374
  .organism-element.organism-element-64733a7
  > .organism-element-populated {
  padding: 0;
}
.organism-374
  .organism-element.organism-element-a2086e9
  .organism-spacer-inner {
  height: 45px;
}
.organism-374
  .organism-element.organism-element-dea22f4
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-dea22f4
  > .organism-element-populated {
  padding: 0 19px 0 30px;
}
.organism-374
  .organism-element.organism-element-37df8f9
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-374 .organism-element.organism-element-26c13ce .atomic-attributes {
  justify-content: start;
}
.organism-374
  .organism-element.organism-element-26c13ce
  > .organism-widget-container {
  margin: 0 0 45px;
}
.organism-374
  .organism-element.organism-element-3859feb
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-ea98ed9
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-374 .organism-element.organism-element-ea98ed9 {
  padding: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-c6fc8ca
  > .organism-element-populated {
  padding: 0;
}
.organism-374
  .organism-element.organism-element-c3573be
  > .organism-widget-container {
  margin: 0 30px 0 0;
}
.organism-374 .organism-element.organism-element-c3573be {
  width: auto;
  max-width: auto;
}
.organism-374 .organism-element.organism-element-7a4ec5e {
  width: auto;
  max-width: auto;
}
.organism-374
  .organism-element.organism-element-024869f
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-84e72df
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-d92a00b
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-ae07714
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-374
  .organism-element.organism-element-c135c1d
  > .organism-widget-container {
  margin: 0 0 60px;
  border-radius: 22px 22px 22px 22px;
}
.organism-374 .organism-element.organism-element-c3ae1b7 {
  margin-top: 0;
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-5cb8cd8
  > .organism-element-populated {
  padding: 0;
}
.organism-374 .organism-element.organism-element-270f216 .atomic-listing-meta {
  text-align: left;
}
.organism-374
  .organism-element.organism-element-3b8c964
  > .organism-element-populated {
  padding: 0;
}
.organism-374 .organism-element.organism-element-9a5f023 .atomic-listing__date {
  text-align: center;
}
.organism-374
  .organism-element.organism-element-df5b848
  > .organism-element-populated {
  padding: 0;
}
.organism-374 .organism-element.organism-element-59fef9a .atomic-listing-meta {
  text-align: right;
}
.organism-374
  .organism-element.organism-element-a08992d
  .organism-spacer-inner {
  height: 120px;
}
.organism-374
  .organism-element.organism-element-af001d0
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-af001d0
  > .organism-element-populated {
  padding: 0 30px 0 11px;
}
.organism-374
  .organism-element.organism-element-f005611:not(.organism-motion-effects-element-type-background),
.organism-374
  .organism-element.organism-element-f005611
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #f2fafc;
}
.organism-374 .organism-element.organism-element-f005611,
.organism-374
  .organism-element.organism-element-f005611
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-374 .organism-element.organism-element-f005611 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 35px;
}
.organism-374
  .organism-element.organism-element-f005611
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-374
  .organism-element.organism-element-f97e7ee
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-f97e7ee
  > .organism-element-populated {
  padding: 40px 45px 48px;
}
.organism-374
  .organism-element.organism-element-63afcbd
  .atomic-user-image-control-size {
  border-radius: 50% 50% 50% 50%;
}
.organism-374 .organism-element.organism-element-63afcbd {
  width: 60px;
  max-width: 60px;
  top: 40px;
}
.organism-374 .organism-element.organism-element-c983f25 .atomic-user__name {
  font-size: 24px;
  line-height: 24px;
}
.organism-374
  .organism-element.organism-element-c983f25
  > .organism-widget-container {
  margin: 5px 0 0 78px;
  padding: 0;
}
.organism-374
  .organism-element.organism-element-a07379b
  .organism-spacer-inner {
  height: 3px;
}
.organism-374
  .organism-element.organism-element-fe496a8
  > .organism-widget-container {
  padding: 0 0 0 78px;
}
.organism-374 .organism-element.organism-element-bbda8c2 {
  --divider-border-style: solid;
  --divider-color: #cee1e6;
  --divider-border-width: 1px;
}
.organism-374
  .organism-element.organism-element-bbda8c2
  .organism-divider-separator {
  width: 100%;
}
.organism-374 .organism-element.organism-element-bbda8c2 .organism-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.organism-374
  .organism-element.organism-element-bbda8c2
  > .organism-widget-container {
  margin: 25px 0 20px;
}
.organism-374
  .organism-element.organism-element-ffb9793
  .organism-spacer-inner {
  height: 35px;
}
.organism-374
  .organism-element.organism-element-0c9ddb8
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-374
  .organism-element.organism-element-cbc9d28
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-374 .organism-element.organism-element-e8e6bf2 {
  border-style: solid;
  border-width: 1px;
  border-color: #e4ebf0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 45px;
}
.organism-374 .organism-element.organism-element-e8e6bf2,
.organism-374
  .organism-element.organism-element-e8e6bf2
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-374
  .organism-element.organism-element-e8e6bf2
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-374
  .organism-element.organism-element-ab94e6d
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-ab94e6d
  > .organism-element-populated {
  padding: 0;
}
.organism-374
  .organism-element.organism-element-c2db3ec
  .organism-spacer-inner {
  height: 4px;
}
.organism-374
  .organism-element.organism-element-eb94aca
  .organism-spacer-inner {
  height: 35px;
}
.organism-374
  .organism-element.organism-element-c98d852
  .organism-spacer-inner {
  height: 120px;
}
.organism-374 .organism-element.organism-element-9d81ad3 {
  padding: 0;
}
.organism-374
  .organism-element.organism-element-45325ea
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-374
  .organism-element.organism-element-45325ea
  > .organism-element-populated {
  padding: 0;
}
.organism-374
  .organism-element.organism-element-60d6625
  > .organism-widget-container {
  margin: 0;
  padding: 100px 30px;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #e4ebf0;
}
.organism-374
  .organism-element.organism-element-431a090
  > .organism-widget-container {
  padding: 100px 30px;
  background-color: #f2fafc;
}
@media (max-width: 1024px) {
  .organism-374
    .organism-element.organism-element-60de507
    > .organism-element-populated {
    padding: 0 0 0 15px;
  }
  .organism-374 .organism-element.organism-element-1be4a31 .atomic-breadcrumbs {
    justify-content: flex-start;
  }
  .organism-374 .organism-element.organism-element-1be4a31 {
    width: 100%;
    max-width: 100%;
  }
  .organism-374
    .organism-element.organism-element-d904d49
    > .organism-element-populated {
    padding: 0 15px 0 0;
  }
  .organism-374
    .organism-element.organism-element-da5e77e
    .atomic-social-share {
    text-align: center;
  }
  .organism-374
    .organism-element.organism-element-da5e77e
    > .organism-widget-container {
    margin: 0;
  }
  .organism-374 .organism-element.organism-element-da5e77e {
    width: 100%;
    max-width: 100%;
  }
  .organism-374
    .organism-element.organism-element-c3eb0ca
    > .organism-container {
    max-width: 768px;
  }
  .organism-374
    .organism-element.organism-element-cecbc68
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-374
    .organism-element.organism-element-8e6bf72
    > .organism-container {
    max-width: 768px;
  }
  .organism-374
    .organism-element.organism-element-f37873a
    > .organism-container {
    max-width: 780px;
  }
  .organism-374
    .organism-element.organism-element-dea22f4
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-374
    .organism-element.organism-element-c6fc8ca
    > .organism-widget-wrap
    > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
    margin-bottom: 0;
  }
  .organism-374
    .organism-element.organism-element-c6fc8ca
    > .organism-element-populated {
    padding: 0;
  }
  .organism-374
    .organism-element.organism-element-c3573be
    > .organism-widget-container {
    margin: 0 15px 0 0;
  }
  .organism-374
    .organism-element.organism-element-7a4ec5e
    .atomic-social-share {
    text-align: left;
  }
  .organism-374
    .organism-element.organism-element-7a4ec5e
    > .organism-widget-container {
    padding: 0;
  }
  .organism-374
    .organism-element.organism-element-a08992d
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-374
    .organism-element.organism-element-af001d0
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-374
    .organism-element.organism-element-c98d852
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-374
    .organism-element.organism-element-60d6625
    > .organism-widget-container {
    padding: 70px 15px;
  }
  .organism-374
    .organism-element.organism-element-431a090
    > .organism-widget-container {
    padding: 70px 15px;
  }
}
@media (max-width: 767px) {
  .organism-374 .organism-element.organism-element-712b061 {
    padding: 0;
  }
  .organism-374
    .organism-element.organism-element-da5e77e
    .atomic-social-share {
    text-align: center;
  }
  .organism-374
    .organism-element.organism-element-da5e77e
    > .organism-widget-container {
    margin: 10px 0 0;
  }
  .organism-374
    .organism-element.organism-element-4b83ec6
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-374
    .organism-element.organism-element-a2086e9
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-374
    .organism-element.organism-element-37df8f9
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-374 .organism-element.organism-element-26c13ce .atomic-attributes {
    justify-content: center;
  }
  .organism-374
    .organism-element.organism-element-26c13ce
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-3859feb
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374 .organism-element.organism-element-ea98ed9 {
    padding: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-024869f
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-84e72df
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-d92a00b
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-ae07714
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374
    .organism-element.organism-element-c135c1d
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-374 .organism-element.organism-element-5cb8cd8 {
    width: 50%;
  }
  .organism-374
    .organism-element.organism-element-9a5f023
    .atomic-listing__date {
    text-align: left;
  }
  .organism-374 .organism-element.organism-element-df5b848 {
    width: 50%;
  }
  .organism-374
    .organism-element.organism-element-59fef9a
    .atomic-listing-meta {
    text-align: left;
  }
  .organism-374
    .organism-element.organism-element-a08992d
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-374
    .organism-element.organism-element-f97e7ee
    > .organism-element-populated {
    padding: 30px 20px;
  }
  .organism-374 .organism-element.organism-element-63afcbd {
    top: 30px;
  }
  .organism-374
    .organism-element.organism-element-ffb9793
    .organism-spacer-inner {
    height: 20px;
  }
  .organism-374
    .organism-element.organism-element-0c9ddb8
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-374
    .organism-element.organism-element-cbc9d28
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-374 .organism-element.organism-element-e8e6bf2 {
    padding: 30px 20px;
  }
  .organism-374
    .organism-element.organism-element-60d6625
    > .organism-widget-container {
    padding: 50px 15px;
  }
  .organism-374
    .organism-element.organism-element-431a090
    > .organism-widget-container {
    padding: 50px 15px;
  }
}
@media (min-width: 768px) {
  .organism-374 .organism-element.organism-element-60de507 {
    width: 79.914%;
  }
  .organism-374 .organism-element.organism-element-d904d49 {
    width: 20%;
  }
  .organism-374 .organism-element.organism-element-dea22f4 {
    width: 67%;
  }
  .organism-374 .organism-element.organism-element-af001d0 {
    width: 33%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-374 .organism-element.organism-element-92ff06d {
    width: 100%;
  }
  .organism-374 .organism-element.organism-element-dea22f4 {
    width: 100%;
  }
  .organism-374 .organism-element.organism-element-af001d0 {
    width: 100%;
  }
}
