.organism-2186
  .organism-element.organism-element-51832a08
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2186 .organism-element.organism-element-51832a08 {
  border-style: solid;
  border-width: 0 0 1px;
  border-color: #e4ebf0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-2186
  .organism-element.organism-element-51832a08
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-2186
  .organism-element.organism-element-e92c4c2.organism-column
  > .organism-widget-wrap {
  justify-content: space-between;
}
.organism-2186
  .organism-element.organism-element-e92c4c2
  > .organism-element-populated {
  margin: 30px 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-3657a102
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2186
  .organism-element.organism-element-6cdc6127
  > .organism-element-populated {
  padding: 0 0 0 30px;
}
.organism-2186
  .organism-element.organism-element-44f6d8e6
  .atomic-breadcrumbs__link {
  color: #222;
}
.organism-2186 .organism-element.organism-element-44f6d8e6 {
  width: auto;
  max-width: auto;
}
.organism-2186
  .organism-element.organism-element-3773f2ba.organism-column
  > .organism-widget-wrap {
  justify-content: flex-end;
}
.organism-2186
  .organism-element.organism-element-3773f2ba
  > .organism-element-populated {
  padding: 0 30px 0 0;
}
.organism-2186
  .organism-element.organism-element-72e1910e
  .atomic-social-share {
  text-align: right;
}
.organism-2186 .organism-element.organism-element-72e1910e {
  width: auto;
  max-width: auto;
}
.organism-2186
  .organism-element.organism-element-3fea0cc
  > .organism-widget-container {
  margin: 0 0 0 11px;
}
.organism-2186 .organism-element.organism-element-3fea0cc {
  width: auto;
  max-width: auto;
}
.organism-2186
  .organism-element.organism-element-61ff5bb7
  > .organism-container {
  max-width: 1200px;
}
.organism-2186
  .organism-element.organism-element-28244a0d
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-28244a0d
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-2186
  .organism-element.organism-element-29c7749b
  .organism-spacer-inner {
  height: 45px;
}
.organism-2186
  .organism-element.organism-element-0fdef1f
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-0fdef1f
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-2186
  .organism-element.organism-element-d1106bd
  .organism-spacer-inner {
  height: 35px;
}
.organism-2186
  .organism-element.organism-element-42938261
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-35234281
  .organism-spacer-inner {
  height: 45px;
}
.organism-2186
  .organism-element.organism-element-694e4e43
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-694e4e43
  > .organism-element-populated {
  padding: 0 19px 0 30px;
}
.organism-2186 .organism-element.organism-element-8e03c46 .atomic-attributes {
  justify-content: start;
}
.organism-2186
  .organism-element.organism-element-8e03c46
  > .organism-widget-container {
  margin: 0 0 45px;
}
.organism-2186
  .organism-element.organism-element-31849228
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-468977f
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2186 .organism-element.organism-element-468977f {
  padding: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-22266133
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-59399ea8
  > .organism-widget-container {
  margin: 0 30px 0 0;
}
.organism-2186 .organism-element.organism-element-59399ea8 {
  width: auto;
  max-width: auto;
}
.organism-2186 .organism-element.organism-element-32df982f {
  width: auto;
  max-width: auto;
}
.organism-2186
  .organism-element.organism-element-8cdedea
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-7ba3c320
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-5b87500b
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-5f118482
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2186
  .organism-element.organism-element-42b98af3
  > .organism-widget-container {
  margin: 0 0 60px;
  border-radius: 22px 22px 22px 22px;
}
.organism-2186 .organism-element.organism-element-330dd872 {
  margin-top: 0;
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-149f2ef9
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-2396c246
  .atomic-listing-meta {
  text-align: left;
}
.organism-2186
  .organism-element.organism-element-6561bd01
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-20fee132
  .atomic-listing__date {
  text-align: center;
}
.organism-2186
  .organism-element.organism-element-1c693310
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-622b072b
  .atomic-listing-meta {
  text-align: right;
}
.organism-2186
  .organism-element.organism-element-6850eeb9
  .organism-spacer-inner {
  height: 120px;
}
.organism-2186
  .organism-element.organism-element-6df6427e
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-6df6427e
  > .organism-element-populated {
  padding: 0 30px 0 11px;
}
.organism-2186
  .organism-element.organism-element-42407ba:not(.organism-motion-effects-element-type-background),
.organism-2186
  .organism-element.organism-element-42407ba
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #f2fafc;
}
.organism-2186 .organism-element.organism-element-42407ba,
.organism-2186
  .organism-element.organism-element-42407ba
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-2186 .organism-element.organism-element-42407ba {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 35px;
}
.organism-2186
  .organism-element.organism-element-42407ba
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-2186
  .organism-element.organism-element-47e97f8a
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-47e97f8a
  > .organism-element-populated {
  padding: 40px 45px 48px;
}
.organism-2186
  .organism-element.organism-element-193e2581
  .atomic-user-image-control-size {
  border-radius: 50% 50% 50% 50%;
}
.organism-2186 .organism-element.organism-element-193e2581 {
  width: 60px;
  max-width: 60px;
  top: 40px;
}
.organism-2186 .organism-element.organism-element-7fbb2a28 .atomic-user__name {
  font-size: 24px;
  line-height: 24px;
}
.organism-2186
  .organism-element.organism-element-7fbb2a28
  > .organism-widget-container {
  margin: 5px 0 0 78px;
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-1b449fd6
  .organism-spacer-inner {
  height: 3px;
}
.organism-2186
  .organism-element.organism-element-1dd4995f
  > .organism-widget-container {
  padding: 0 0 0 78px;
}
.organism-2186 .organism-element.organism-element-5b75577 {
  --divider-border-style: solid;
  --divider-color: #cee1e6;
  --divider-border-width: 1px;
}
.organism-2186
  .organism-element.organism-element-5b75577
  .organism-divider-separator {
  width: 100%;
}
.organism-2186 .organism-element.organism-element-5b75577 .organism-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.organism-2186
  .organism-element.organism-element-5b75577
  > .organism-widget-container {
  margin: 25px 0 20px;
}
.organism-2186
  .organism-element.organism-element-5d24490a
  .organism-spacer-inner {
  height: 35px;
}
.organism-2186
  .organism-element.organism-element-5fd31c07
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-2186
  .organism-element.organism-element-71e9f033
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-2186 .organism-element.organism-element-5598b5ed {
  border-style: solid;
  border-width: 1px;
  border-color: #e4ebf0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 45px;
}
.organism-2186 .organism-element.organism-element-5598b5ed,
.organism-2186
  .organism-element.organism-element-5598b5ed
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-2186
  .organism-element.organism-element-5598b5ed
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-2186
  .organism-element.organism-element-75dde950
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-75dde950
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-1307e8ad
  .organism-spacer-inner {
  height: 4px;
}
.organism-2186
  .organism-element.organism-element-67038712
  .organism-spacer-inner {
  height: 35px;
}
.organism-2186
  .organism-element.organism-element-2931bd3d
  .organism-spacer-inner {
  height: 120px;
}
.organism-2186 .organism-element.organism-element-36a7290e {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-31b080e
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2186
  .organism-element.organism-element-31b080e
  > .organism-element-populated {
  padding: 0;
}
.organism-2186
  .organism-element.organism-element-21ddf0f1
  > .organism-widget-container {
  margin: 0;
  padding: 100px 30px;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #e4ebf0;
}
.organism-2186
  .organism-element.organism-element-69ebf99
  > .organism-widget-container {
  padding: 100px 30px;
  background-color: #f2fafc;
}
@media (max-width: 1024px) {
  .organism-2186
    .organism-element.organism-element-6cdc6127
    > .organism-element-populated {
    padding: 0 0 0 15px;
  }
  .organism-2186
    .organism-element.organism-element-44f6d8e6
    .atomic-breadcrumbs {
    justify-content: flex-start;
  }
  .organism-2186 .organism-element.organism-element-44f6d8e6 {
    width: 100%;
    max-width: 100%;
  }
  .organism-2186
    .organism-element.organism-element-3773f2ba
    > .organism-element-populated {
    padding: 0 15px 0 0;
  }
  .organism-2186
    .organism-element.organism-element-72e1910e
    .atomic-social-share {
    text-align: center;
  }
  .organism-2186
    .organism-element.organism-element-72e1910e
    > .organism-widget-container {
    margin: 0;
  }
  .organism-2186 .organism-element.organism-element-72e1910e {
    width: 100%;
    max-width: 100%;
  }
  .organism-2186
    .organism-element.organism-element-61ff5bb7
    > .organism-container {
    max-width: 768px;
  }
  .organism-2186
    .organism-element.organism-element-28244a0d
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2186
    .organism-element.organism-element-0fdef1f
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2186
    .organism-element.organism-element-1cc0a31a
    > .organism-container {
    max-width: 768px;
  }
  .organism-2186
    .organism-element.organism-element-27ac6926
    > .organism-container {
    max-width: 780px;
  }
  .organism-2186
    .organism-element.organism-element-694e4e43
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2186
    .organism-element.organism-element-22266133
    > .organism-widget-wrap
    > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
    margin-bottom: 0;
  }
  .organism-2186
    .organism-element.organism-element-22266133
    > .organism-element-populated {
    padding: 0;
  }
  .organism-2186
    .organism-element.organism-element-59399ea8
    > .organism-widget-container {
    margin: 0 15px 0 0;
  }
  .organism-2186
    .organism-element.organism-element-32df982f
    .atomic-social-share {
    text-align: left;
  }
  .organism-2186
    .organism-element.organism-element-32df982f
    > .organism-widget-container {
    padding: 0;
  }
  .organism-2186
    .organism-element.organism-element-6850eeb9
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-2186
    .organism-element.organism-element-6df6427e
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2186
    .organism-element.organism-element-2931bd3d
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-2186
    .organism-element.organism-element-21ddf0f1
    > .organism-widget-container {
    padding: 70px 15px;
  }
  .organism-2186
    .organism-element.organism-element-69ebf99
    > .organism-widget-container {
    padding: 70px 15px;
  }
}
@media (max-width: 767px) {
  .organism-2186 .organism-element.organism-element-51832a08 {
    padding: 0;
  }
  .organism-2186
    .organism-element.organism-element-72e1910e
    .atomic-social-share {
    text-align: center;
  }
  .organism-2186
    .organism-element.organism-element-72e1910e
    > .organism-widget-container {
    margin: 10px 0 0;
  }
  .organism-2186
    .organism-element.organism-element-29c7749b
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-2186
    .organism-element.organism-element-35234281
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-2186 .organism-element.organism-element-8e03c46 .atomic-attributes {
    justify-content: center;
  }
  .organism-2186
    .organism-element.organism-element-8e03c46
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-31849228
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186 .organism-element.organism-element-468977f {
    padding: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-8cdedea
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-7ba3c320
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-5b87500b
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-5f118482
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186
    .organism-element.organism-element-42b98af3
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2186 .organism-element.organism-element-149f2ef9 {
    width: 50%;
  }
  .organism-2186
    .organism-element.organism-element-20fee132
    .atomic-listing__date {
    text-align: left;
  }
  .organism-2186 .organism-element.organism-element-1c693310 {
    width: 50%;
  }
  .organism-2186
    .organism-element.organism-element-622b072b
    .atomic-listing-meta {
    text-align: left;
  }
  .organism-2186
    .organism-element.organism-element-6850eeb9
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-2186
    .organism-element.organism-element-47e97f8a
    > .organism-element-populated {
    padding: 30px 20px;
  }
  .organism-2186 .organism-element.organism-element-193e2581 {
    top: 30px;
  }
  .organism-2186
    .organism-element.organism-element-5d24490a
    .organism-spacer-inner {
    height: 20px;
  }
  .organism-2186
    .organism-element.organism-element-5fd31c07
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-2186
    .organism-element.organism-element-71e9f033
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-2186 .organism-element.organism-element-5598b5ed {
    padding: 30px 20px;
  }
  .organism-2186
    .organism-element.organism-element-21ddf0f1
    > .organism-widget-container {
    padding: 50px 15px;
  }
  .organism-2186
    .organism-element.organism-element-69ebf99
    > .organism-widget-container {
    padding: 50px 15px;
  }
}
@media (min-width: 768px) {
  .organism-2186 .organism-element.organism-element-6cdc6127 {
    width: 79.914%;
  }
  .organism-2186 .organism-element.organism-element-3773f2ba {
    width: 20%;
  }
  .organism-2186 .organism-element.organism-element-694e4e43 {
    width: 67%;
  }
  .organism-2186 .organism-element.organism-element-6df6427e {
    width: 33%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-2186 .organism-element.organism-element-e92c4c2 {
    width: 100%;
  }
  .organism-2186 .organism-element.organism-element-694e4e43 {
    width: 100%;
  }
  .organism-2186 .organism-element.organism-element-6df6427e {
    width: 100%;
  }
}
