.organism-7
  .organism-element.organism-element-e7388c7
  > .organism-element-populated {
  padding: 0;
}
.organism-7 .organism-element.organism-element-b1f03d9 .organism-spacer-inner {
  height: 40px;
}
.organism-7
  .organism-element.organism-element-4fcf525:not(.organism-motion-effects-element-type-background),
.organism-7
  .organism-element.organism-element-4fcf525
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #fff;
}
.organism-7 .organism-element.organism-element-4fcf525 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-7
  .organism-element.organism-element-4fcf525
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-7
  .organism-element.organism-element-106b628
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-106b628
  > .organism-element-populated {
  padding: 0;
}
.organism-7 .organism-element.organism-element-ad3faff .atomic-search {
  max-width: 895px;
}
.organism-7 .organism-element.organism-element-66919b7 .organism-spacer-inner {
  height: 40px;
}
.organism-7
  .organism-element.organism-element-e5b227b
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-e5b227b
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-7 .organism-element.organism-element-7762fde .organism-spacer-inner {
  height: 60px;
}
.organism-7 .organism-element.organism-element-15acae8 .organism-spacer-inner {
  height: 60px;
}
.organism-7 .organism-element.organism-element-9218b30 {
  width: auto;
  max-width: auto;
  bottom: 55px;
}
body:not(.rtl) .organism-7 .organism-element.organism-element-9218b30 {
  left: -105px;
}
body.rtl .organism-7 .organism-element.organism-element-9218b30 {
  right: -105px;
}
.organism-7
  .organism-element.organism-element-1e3fde5
  > .organism-element-populated {
  margin: 120px 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0;
}
.organism-7
  .organism-element.organism-element-9bf91d7
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-9bf91d7
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-7 .organism-element.organism-element-06453c8 .organism-spacer-inner {
  height: 80px;
}
.organism-7 .organism-element.organism-element-a9c3cb8 .organism-spacer-inner {
  height: 120px;
}
.organism-7
  .organism-element.organism-element-61480d2:not(.organism-motion-effects-element-type-background),
.organism-7
  .organism-element.organism-element-61480d2
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: transparent;
  background-image: linear-gradient(75deg, #f2fafc 67%, #ffffff 0%);
}
.organism-7 .organism-element.organism-element-61480d2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-7
  .organism-element.organism-element-61480d2
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-7
  .organism-element.organism-element-8ef9981
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-8ef9981
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-7 .organism-element.organism-element-5e6da19 .organism-spacer-inner {
  height: 120px;
}
.organism-7 .organism-element.organism-element-c3f92b6 .organism-spacer-inner {
  height: 120px;
}
.organism-7
  .organism-element.organism-element-c8d4cf5
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-c8d4cf5
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-7 .organism-element.organism-element-f5b0df3 .organism-spacer-inner {
  height: 120px;
}
.organism-7 .organism-element.organism-element-d97d061 .organism-spacer-inner {
  height: 90px;
}
.organism-7
  .organism-element.organism-element-88e211a
  .atomic-service.organism-repeater-item-1d63e09 {
  background-color: #f2fafc;
}
.organism-7 .organism-element.organism-element-d9dfed4 .organism-spacer-inner {
  height: 120px;
}
.organism-7 .organism-element.organism-element-2ff644c {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-7
  .organism-element.organism-element-2ff644c
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-7
  .organism-element.organism-element-408e9f8
  > .organism-element-populated {
  padding: 0;
}
.organism-7
  .organism-element.organism-element-df6dfde
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-df6dfde
  > .organism-element-populated {
  padding: 0;
}
.organism-7 .organism-element.organism-element-c0754ae .organism-spacer-inner {
  height: 120px;
}
.organism-7
  .organism-element.organism-element-7ee0229
  > .organism-widget-container {
  padding: 0 15px;
}
.organism-7 .organism-element.organism-element-cf60495 .organism-spacer-inner {
  height: 90px;
}
.organism-7 .organism-element.organism-element-e3502cc .organism-spacer-inner {
  height: 120px;
}
.organism-7
  .organism-element.organism-element-3239b474
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-7
  .organism-element.organism-element-3239b474:not(.organism-motion-effects-element-type-background),
.organism-7
  .organism-element.organism-element-3239b474
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #093b4b;
  background-image: url(../../2021/09/buildings.jpg);
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: cover;
}
.organism-7 .organism-element.organism-element-3239b474 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-7
  .organism-element.organism-element-3239b474
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-7
  .organism-element.organism-element-265e8ec0
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-7
  .organism-element.organism-element-265e8ec0
  > .organism-element-populated {
  padding: 0 15px 0 30px;
}
.organism-7 .organism-element.organism-element-22bd02d9 .organism-spacer-inner {
  height: 77px;
}
.organism-7
  .organism-element.organism-element-5e732ded
  .organism-heading-title {
  color: #fff;
}
.organism-7 .organism-element.organism-element-5e732ded {
  z-index: 2;
  width: 100%;
  max-width: 100%;
}
.organism-7 .organism-element.organism-element-5b7c4af5 svg {
  width: 324px !important;
}
.organism-7
  .organism-element.organism-element-5b7c4af5
  > .organism-widget-container {
  margin: -8px 0 0;
}
.organism-7 .organism-element.organism-element-5b7c4af5 {
  z-index: 0;
}
.organism-7 .organism-element.organism-element-4fd98ef8 .organism-spacer-inner {
  height: 77px;
}
.organism-bc-flex-widget
  .organism-7
  .organism-element.organism-element-93f7a99.organism-column
  .organism-widget-wrap {
  align-items: center;
}
.organism-7
  .organism-element.organism-element-93f7a99.organism-column.organism-element[data-element_type="column"]
  > .organism-widget-wrap.organism-element-populated {
  align-content: center;
  align-items: center;
}
.organism-7
  .organism-element.organism-element-93f7a99.organism-column
  > .organism-widget-wrap {
  justify-content: flex-end;
}
.organism-7
  .organism-element.organism-element-93f7a99
  > .organism-element-populated {
  padding: 0 30px 0 15px;
}
.organism-7 .organism-element.organism-element-4f4663c5 {
  width: 560px;
  max-width: 560px;
}
@media (max-width: 1024px) {
  .organism-7
    .organism-element.organism-element-66919b7
    .organism-spacer-inner {
    height: 10px;
  }
  .organism-7
    .organism-element.organism-element-e5b227b
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-7762fde
    .organism-spacer-inner {
    height: 60px;
  }
  .organism-7
    .organism-element.organism-element-15acae8
    .organism-spacer-inner {
    height: 20px;
  }
  .organism-7
    .organism-element.organism-element-1e3fde5
    > .organism-element-populated {
    margin: 50px 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .organism-7
    .organism-element.organism-element-9bf91d7
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-06453c8
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-a9c3cb8
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7
    .organism-element.organism-element-8ef9981
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-5e6da19
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-c3f92b6
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7
    .organism-element.organism-element-c8d4cf5.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-c8d4cf5
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-f5b0df3
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7
    .organism-element.organism-element-d97d061
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7 .organism-element.organism-element-88e211a {
    width: 738px;
    max-width: 738px;
  }
  .organism-7
    .organism-element.organism-element-d9dfed4
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7
    .organism-element.organism-element-df6dfde
    > .organism-element-populated {
    padding: 0;
  }
  .organism-7
    .organism-element.organism-element-c0754ae
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7
    .organism-element.organism-element-7ee0229
    > .organism-widget-container {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-cf60495
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-e3502cc
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7 .organism-element.organism-element-3239b474 {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-265e8ec0.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-265e8ec0
    > .organism-element-populated {
    padding: 0;
  }
  .organism-7
    .organism-element.organism-element-22bd02d9
    .organism-spacer-inner {
    height: 70px;
  }
  .organism-7 .organism-element.organism-element-5e732ded {
    text-align: center;
    width: 600px;
    max-width: 600px;
  }
  .organism-7 .organism-element.organism-element-5b7c4af5 .atomic-shape {
    text-align: center;
  }
  .organism-7
    .organism-element.organism-element-5b7c4af5
    > .organism-widget-container {
    margin: 5px 0 0;
  }
  .organism-7
    .organism-element.organism-element-4fd98ef8
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-7
    .organism-element.organism-element-93f7a99.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-93f7a99
    > .organism-element-populated {
    margin: 0 0 70px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0;
  }
  .organism-7 .organism-element.organism-element-4f4663c5 {
    width: 700px;
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .organism-7
    .organism-element.organism-element-e5b227b
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-7762fde
    .organism-spacer-inner {
    height: 40px;
  }
  .organism-7
    .organism-element.organism-element-1e3fde5
    > .organism-element-populated {
    margin: 20px 0 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .organism-7
    .organism-element.organism-element-06453c8
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-7
    .organism-element.organism-element-a9c3cb8
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-8ef9981
    > .organism-element-populated {
    padding: 0;
  }
  .organism-7
    .organism-element.organism-element-c3f92b6
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-c8d4cf5.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-c8d4cf5
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-7
    .organism-element.organism-element-f5b0df3
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-d97d061
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-7 .organism-element.organism-element-88e211a {
    width: 540px;
    max-width: 540px;
  }
  .organism-7
    .organism-element.organism-element-d9dfed4
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-df6dfde.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-c0754ae
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-cf60495
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-7
    .organism-element.organism-element-e3502cc
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7
    .organism-element.organism-element-265e8ec0.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-7
    .organism-element.organism-element-22bd02d9
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-7 .organism-element.organism-element-5e732ded {
    width: 400px;
    max-width: 400px;
  }
  .organism-7 .organism-element.organism-element-5b7c4af5 svg {
    width: 192px !important;
  }
  .organism-7 .organism-element.organism-element-5b7c4af5 .atomic-shape {
    text-align: center;
  }
  .organism-7
    .organism-element.organism-element-5b7c4af5
    > .organism-widget-container {
    margin: 3px 0 0;
  }
  .organism-7
    .organism-element.organism-element-4fd98ef8
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-7
    .organism-element.organism-element-93f7a99
    > .organism-element-populated {
    margin: 0 0 50px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (min-width: 768px) {
  .organism-7 .organism-element.organism-element-265e8ec0 {
    width: 50%;
  }
  .organism-7 .organism-element.organism-element-93f7a99 {
    width: 49.96%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-7 .organism-element.organism-element-265e8ec0 {
    width: 100%;
  }
  .organism-7 .organism-element.organism-element-93f7a99 {
    width: 100%;
  }
}
