.organism-2188
  .organism-element.organism-element-4348166e
  > .organism-container {
  max-width: 1140px;
}
.organism-2188
  .organism-element.organism-element-4348166e
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2188 .organism-element.organism-element-4348166e {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-75eb1614.organism-column
  > .organism-widget-wrap {
  justify-content: space-between;
}
.organism-2188
  .organism-element.organism-element-75eb1614
  > .organism-element-populated {
  margin: 30px 0;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0 30px;
}
.organism-2188
  .organism-element.organism-element-3bf05df9
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2188
  .organism-element.organism-element-56a9bc63
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-a21fb62
  .atomic-breadcrumbs__link {
  color: #222;
}
.organism-2188 .organism-element.organism-element-a21fb62 {
  width: auto;
  max-width: auto;
}
.organism-2188
  .organism-element.organism-element-3f4157a6.organism-column
  > .organism-widget-wrap {
  justify-content: flex-end;
}
.organism-2188
  .organism-element.organism-element-3f4157a6
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-56bc5f95
  .atomic-social-share {
  text-align: right;
}
.organism-2188 .organism-element.organism-element-56bc5f95 {
  width: auto;
  max-width: auto;
}
.organism-2188
  .organism-element.organism-element-38ab2e4
  > .organism-widget-container {
  margin: 0 0 0 11px;
}
.organism-2188 .organism-element.organism-element-38ab2e4 {
  width: auto;
  max-width: auto;
}
.organism-2188
  .organism-element.organism-element-883ca42
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-31b167b
  > .organism-widget-container {
  margin: 20px 0 0;
}
.organism-2188
  .organism-element.organism-element-1ea9fd64
  > .organism-container {
  max-width: 1200px;
}
.organism-2188
  .organism-element.organism-element-6fb95464
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-6fb95464
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-2188
  .organism-element.organism-element-38f3886a
  .organism-spacer-inner {
  height: 45px;
}
.organism-2188
  .organism-element.organism-element-4f418187
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-6dd87563
  .organism-spacer-inner {
  height: 45px;
}
.organism-2188
  .organism-element.organism-element-27dae2ed
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-27dae2ed
  > .organism-element-populated {
  padding: 0 19px 0 30px;
}
.organism-2188 .organism-element.organism-element-2e2905f9 .atomic-attributes {
  justify-content: start;
}
.organism-2188
  .organism-element.organism-element-2e2905f9
  > .organism-widget-container {
  margin: 0 0 45px;
}
.organism-2188
  .organism-element.organism-element-53256c8f
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-1ae43f7
  > .organism-container
  > .organism-column
  > .organism-widget-wrap {
  align-content: center;
  align-items: center;
}
.organism-2188 .organism-element.organism-element-1ae43f7 {
  padding: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-67a6e060
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-6a81f60c
  > .organism-widget-container {
  margin: 0 30px 0 0;
}
.organism-2188 .organism-element.organism-element-6a81f60c {
  width: auto;
  max-width: auto;
}
.organism-2188 .organism-element.organism-element-603a2187 {
  width: auto;
  max-width: auto;
}
.organism-2188
  .organism-element.organism-element-a3a295e
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-7d194c39
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-65c8b58e
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-5e7347ea
  > .organism-widget-container {
  margin: 0 0 60px;
}
.organism-2188
  .organism-element.organism-element-eb2840a
  > .organism-widget-container {
  margin: 0 0 60px;
  border-radius: 22px 22px 22px 22px;
}
.organism-2188 .organism-element.organism-element-62ad9ba0 {
  margin-top: 0;
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-2c0dfc15
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-4fe7066d
  .atomic-listing-meta {
  text-align: left;
}
.organism-2188
  .organism-element.organism-element-6a25f5b3
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-67fe23c3
  .atomic-listing__date {
  text-align: center;
}
.organism-2188
  .organism-element.organism-element-59f44395
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-15ab4faf
  .atomic-listing-meta {
  text-align: right;
}
.organism-2188
  .organism-element.organism-element-7dcb31fe
  .organism-spacer-inner {
  height: 120px;
}
.organism-2188
  .organism-element.organism-element-487ec12c
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-487ec12c
  > .organism-element-populated {
  padding: 0 30px 0 11px;
}
.organism-2188
  .organism-element.organism-element-7674dd75:not(.organism-motion-effects-element-type-background),
.organism-2188
  .organism-element.organism-element-7674dd75
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #f2fafc;
}
.organism-2188 .organism-element.organism-element-7674dd75,
.organism-2188
  .organism-element.organism-element-7674dd75
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-2188 .organism-element.organism-element-7674dd75 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0;
  margin-bottom: 35px;
}
.organism-2188
  .organism-element.organism-element-7674dd75
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-2188
  .organism-element.organism-element-7feb7432
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-7feb7432
  > .organism-element-populated {
  padding: 40px 45px 48px;
}
.organism-2188
  .organism-element.organism-element-51689a09
  .atomic-user-image-control-size {
  border-radius: 50% 50% 50% 50%;
}
.organism-2188 .organism-element.organism-element-51689a09 {
  width: 60px;
  max-width: 60px;
  top: 40px;
}
.organism-2188 .organism-element.organism-element-65bfe979 .atomic-user__name {
  font-size: 24px;
  line-height: 24px;
}
.organism-2188
  .organism-element.organism-element-65bfe979
  > .organism-widget-container {
  margin: 5px 0 0 78px;
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-2727065d
  .organism-spacer-inner {
  height: 3px;
}
.organism-2188
  .organism-element.organism-element-48f6d9bc
  > .organism-widget-container {
  padding: 0 0 0 78px;
}
.organism-2188 .organism-element.organism-element-55128363 {
  --divider-border-style: solid;
  --divider-color: #cee1e6;
  --divider-border-width: 1px;
}
.organism-2188
  .organism-element.organism-element-55128363
  .organism-divider-separator {
  width: 100%;
}
.organism-2188 .organism-element.organism-element-55128363 .organism-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.organism-2188
  .organism-element.organism-element-55128363
  > .organism-widget-container {
  margin: 25px 0 20px;
}
.organism-2188
  .organism-element.organism-element-7fadf815
  .organism-spacer-inner {
  height: 35px;
}
.organism-2188
  .organism-element.organism-element-361c577d
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-2188
  .organism-element.organism-element-494dbe85
  > .organism-widget-container {
  margin: 0 0 35px;
}
.organism-2188 .organism-element.organism-element-103edf32 {
  border-style: solid;
  border-width: 1px;
  border-color: #e4ebf0;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 50px 45px;
}
.organism-2188 .organism-element.organism-element-103edf32,
.organism-2188
  .organism-element.organism-element-103edf32
  > .organism-background-overlay {
  border-radius: 10px 10px 10px 10px;
}
.organism-2188
  .organism-element.organism-element-103edf32
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-2188
  .organism-element.organism-element-5267a4a3
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-5267a4a3
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-675472e2
  .organism-spacer-inner {
  height: 4px;
}
.organism-2188
  .organism-element.organism-element-185bce06
  .organism-spacer-inner {
  height: 35px;
}
.organism-2188
  .organism-element.organism-element-22edd563
  .organism-spacer-inner {
  height: 120px;
}
.organism-2188 .organism-element.organism-element-5cef252 {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-203204a9
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-2188
  .organism-element.organism-element-203204a9
  > .organism-element-populated {
  padding: 0;
}
.organism-2188
  .organism-element.organism-element-93256a4
  > .organism-widget-container {
  margin: 0;
  padding: 100px 30px;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: #e4ebf0;
}
.organism-2188
  .organism-element.organism-element-10e01abc
  > .organism-widget-container {
  padding: 100px 30px;
  background-color: #f2fafc;
}
@media (max-width: 1024px) {
  .organism-2188
    .organism-element.organism-element-a21fb62
    .atomic-breadcrumbs {
    justify-content: flex-start;
  }
  .organism-2188 .organism-element.organism-element-a21fb62 {
    width: 100%;
    max-width: 100%;
  }
  .organism-2188
    .organism-element.organism-element-56bc5f95
    .atomic-social-share {
    text-align: right;
  }
  .organism-2188
    .organism-element.organism-element-56bc5f95
    > .organism-widget-container {
    margin: 0;
  }
  .organism-2188 .organism-element.organism-element-56bc5f95 {
    width: 100%;
    max-width: 100%;
  }
  .organism-2188
    .organism-element.organism-element-1ea9fd64
    > .organism-container {
    max-width: 768px;
  }
  .organism-2188
    .organism-element.organism-element-6fb95464
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2188
    .organism-element.organism-element-1571971a
    > .organism-container {
    max-width: 768px;
  }
  .organism-2188
    .organism-element.organism-element-7fc3c20b
    > .organism-container {
    max-width: 780px;
  }
  .organism-2188
    .organism-element.organism-element-27dae2ed
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2188
    .organism-element.organism-element-67a6e060
    > .organism-widget-wrap
    > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
    margin-bottom: 0;
  }
  .organism-2188
    .organism-element.organism-element-67a6e060
    > .organism-element-populated {
    padding: 0;
  }
  .organism-2188
    .organism-element.organism-element-6a81f60c
    > .organism-widget-container {
    margin: 0 15px 0 0;
  }
  .organism-2188
    .organism-element.organism-element-603a2187
    .atomic-social-share {
    text-align: left;
  }
  .organism-2188
    .organism-element.organism-element-603a2187
    > .organism-widget-container {
    padding: 0;
  }
  .organism-2188
    .organism-element.organism-element-7dcb31fe
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-2188
    .organism-element.organism-element-487ec12c
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-2188
    .organism-element.organism-element-22edd563
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-2188
    .organism-element.organism-element-93256a4
    > .organism-widget-container {
    padding: 70px 15px;
  }
  .organism-2188
    .organism-element.organism-element-10e01abc
    > .organism-widget-container {
    padding: 70px 15px;
  }
}
@media (max-width: 767px) {
  .organism-2188 .organism-element.organism-element-4348166e {
    padding: 0;
  }
  .organism-2188
    .organism-element.organism-element-56bc5f95
    .atomic-social-share {
    text-align: center;
  }
  .organism-2188
    .organism-element.organism-element-56bc5f95
    > .organism-widget-container {
    margin: 10px 0 0;
  }
  .organism-2188
    .organism-element.organism-element-c2c867c
    > .organism-widget-container {
    margin: 0;
    padding: 0 15px;
  }
  .organism-2188
    .organism-element.organism-element-38f3886a
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-2188
    .organism-element.organism-element-6dd87563
    .organism-spacer-inner {
    height: 30px;
  }
  .organism-2188
    .organism-element.organism-element-2e2905f9
    .atomic-attributes {
    justify-content: center;
  }
  .organism-2188
    .organism-element.organism-element-2e2905f9
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-53256c8f
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188 .organism-element.organism-element-1ae43f7 {
    padding: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-a3a295e
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-7d194c39
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-65c8b58e
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-5e7347ea
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188
    .organism-element.organism-element-eb2840a
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-2188 .organism-element.organism-element-2c0dfc15 {
    width: 50%;
  }
  .organism-2188
    .organism-element.organism-element-67fe23c3
    .atomic-listing__date {
    text-align: left;
  }
  .organism-2188 .organism-element.organism-element-59f44395 {
    width: 50%;
  }
  .organism-2188
    .organism-element.organism-element-15ab4faf
    .atomic-listing-meta {
    text-align: left;
  }
  .organism-2188
    .organism-element.organism-element-7dcb31fe
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-2188
    .organism-element.organism-element-7feb7432
    > .organism-element-populated {
    padding: 30px 20px;
  }
  .organism-2188 .organism-element.organism-element-51689a09 {
    top: 30px;
  }
  .organism-2188
    .organism-element.organism-element-7fadf815
    .organism-spacer-inner {
    height: 20px;
  }
  .organism-2188
    .organism-element.organism-element-361c577d
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-2188
    .organism-element.organism-element-494dbe85
    > .organism-widget-container {
    margin: 0 0 20px;
  }
  .organism-2188 .organism-element.organism-element-103edf32 {
    padding: 30px 20px;
  }
  .organism-2188
    .organism-element.organism-element-93256a4
    > .organism-widget-container {
    padding: 50px 15px;
  }
  .organism-2188
    .organism-element.organism-element-10e01abc
    > .organism-widget-container {
    padding: 50px 15px;
  }
}
@media (min-width: 768px) {
  .organism-2188 .organism-element.organism-element-56a9bc63 {
    width: 79.914%;
  }
  .organism-2188 .organism-element.organism-element-3f4157a6 {
    width: 20%;
  }
  .organism-2188 .organism-element.organism-element-27dae2ed {
    width: 67%;
  }
  .organism-2188 .organism-element.organism-element-487ec12c {
    width: 33%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-2188 .organism-element.organism-element-75eb1614 {
    width: 100%;
  }
  .organism-2188 .organism-element.organism-element-27dae2ed {
    width: 100%;
  }
  .organism-2188 .organism-element.organism-element-487ec12c {
    width: 100%;
  }
}
