.organism-57
  .organism-element.organism-element-70803c3
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-70803c3
  > .organism-element-populated {
  padding: 0;
}
.organism-57 .organism-element.organism-element-d6d46ed .atomic-menu__wrapper {
  height: 107px;
  background-color: #0b4355;
}
.organism-57 .organism-element.organism-element-d6d46ed .atomic-menu__desktop {
  height: 107px;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-menu__desktop
  .atomic-menu
  > .menu-item
  > .atomic-menu__link {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-menu-desktop-login-register-link
  .atomic-menu-item-depth-0
  > a {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-menu-desktop-login-register-link
  .atomic-menu-user-icon {
  stroke: #fff;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-mobile-menu__wrapper {
  background-color: #0b4355;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-menu-icon-wrapper {
  background: #ffffff1a;
}
.organism-57
  .organism-element.organism-element-d6d46ed
  .atomic-user-icon-wrapper {
  background: #ffffff1a;
}
.organism-57
  .organism-element.organism-element-50313d75:not(.organism-motion-effects-element-type-background),
.organism-57
  .organism-element.organism-element-50313d75
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #061b23;
}
.organism-57 .organism-element.organism-element-50313d75 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0;
}
.organism-57
  .organism-element.organism-element-50313d75
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-57
  .organism-element.organism-element-184e6acf
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-184e6acf
  > .organism-element-populated {
  padding: 0 0 0 30px;
}
.organism-57 .organism-element.organism-element-5d80e4cb .atomic-logo {
  text-align: left;
}
.organism-57 .organism-element.organism-element-5d80e4cb {
  width: 118px;
  max-width: 118px;
  align-self: flex-start;
}
.organism-57
  .organism-element.organism-element-14a0ca0f
  .organism-spacer-inner {
  height: 35px;
}
.organism-57 .organism-element.organism-element-7bbad96f {
  color: #fff;
  font-weight: 400;
}
.organism-57
  .organism-element.organism-element-7bbad96f
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-57 .organism-element.organism-element-101cecb5 .atomic-phone {
  font-weight: 300;
  color: #bababa;
}
.organism-57 .organism-element.organism-element-101cecb5 .atomic-phone:hover {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-106a17cf
  .organism-spacer-inner {
  height: 25px;
}
.organism-57 .organism-element.organism-element-7a8a3ad0 {
  color: #fff;
  font-weight: 400;
}
.organism-57
  .organism-element.organism-element-7a8a3ad0
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-57 .organism-element.organism-element-13f8ff12 .atomic-email {
  font-weight: 300;
  color: #bababa;
}
.organism-57 .organism-element.organism-element-13f8ff12 .atomic-email:hover {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-2da99360
  .organism-spacer-inner {
  height: 25px;
}
.organism-57 .organism-element.organism-element-751165b3 {
  color: #fff;
  font-weight: 400;
}
.organism-57
  .organism-element.organism-element-751165b3
  > .organism-widget-container {
  margin: 0 0 2px;
}
.organism-57 .organism-element.organism-element-2154e38d .atomic-address {
  font-weight: 300;
  color: #bababa;
}
.organism-57 .organism-element.organism-element-2154e38d {
  width: 136px;
  max-width: 136px;
}
.organism-57
  .organism-element.organism-element-2eec4c28
  .organism-spacer-inner {
  height: 34px;
}
.organism-57
  .organism-element.organism-element-16ebd421
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-16ebd421
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-57
  .organism-element.organism-element-b783a53
  .organism-heading-title {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-b783a53
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-57 .organism-element.organism-element-2c3f8194 a {
  color: #bababa;
}
.organism-57 .organism-element.organism-element-2c3f8194 a:hover {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-5cdc13de
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-5cdc13de
  > .organism-element-populated {
  padding: 0 30px;
}
.organism-57
  .organism-element.organism-element-8e7ee2f
  .organism-heading-title {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-8e7ee2f
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-57 .organism-element.organism-element-4ad6fce2 a {
  color: #bababa;
}
.organism-57 .organism-element.organism-element-4ad6fce2 a:hover {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-98e25f1
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-98e25f1
  > .organism-element-populated {
  padding: 0 30px 0 0;
}
.organism-57
  .organism-element.organism-element-4a3f8bfe
  .organism-heading-title {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-4a3f8bfe
  > .organism-widget-container {
  margin: 15px 0 33px;
}
.organism-57
  .organism-element.organism-element-4e6cd9c6
  .atomic-mini-listings__title {
  color: #fff;
}
.organism-57
  .organism-element.organism-element-4e6cd9c6
  .atomic-mini-listings__price {
  color: #bababa;
}
.organism-57
  .organism-element.organism-element-4e6cd9c6
  .atomic-mini-listings__in {
  color: #bababa;
}
.organism-57
  .organism-element.organism-element-693fb221:not(.organism-motion-effects-element-type-background),
.organism-57
  .organism-element.organism-element-693fb221
  > .organism-motion-effects-container
  > .organism-motion-effects-layer {
  background-color: #061b23;
}
.organism-57 .organism-element.organism-element-693fb221 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.organism-57
  .organism-element.organism-element-693fb221
  > .organism-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.organism-57
  .organism-element.organism-element-2112b132
  > .organism-widget-wrap
  > .organism-widget:not(.organism-widget__width-auto):not(.organism-widget__width-initial):not(:last-child):not(.organism-absolute) {
  margin-bottom: 0;
}
.organism-57
  .organism-element.organism-element-2112b132
  > .organism-element-populated {
  padding: 0 15px;
}
.organism-57 .organism-element.organism-element-70c2082e svg {
  fill: #e4ebf026;
}
.organism-57
  .organism-element.organism-element-70c2082e
  > .organism-widget-container {
  margin: 0 -15px;
}
.organism-57
  .organism-element.organism-element-1b326df4
  .organism-spacer-inner {
  height: 44px;
}
.organism-57 .organism-element.organism-element-33591d23 .atomic-copyrights {
  text-align: center;
  color: #bababa;
}
.organism-57
  .organism-element.organism-element-19807411
  .organism-spacer-inner {
  height: 44px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .organism-57 .organism-element.organism-element-184e6acf {
    width: 50%;
  }
  .organism-57 .organism-element.organism-element-16ebd421 {
    width: 50%;
  }
  .organism-57 .organism-element.organism-element-5cdc13de {
    width: 50%;
  }
  .organism-57 .organism-element.organism-element-98e25f1 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .organism-57
    .organism-element.organism-element-50313d75
    > .organism-container {
    max-width: 900px;
  }
  .organism-57 .organism-element.organism-element-50313d75 {
    padding: 70px 0;
  }
  .organism-57
    .organism-element.organism-element-184e6acf
    > .organism-element-populated {
    padding: 0 30px 0 15px;
  }
  .organism-57
    .organism-element.organism-element-16ebd421
    > .organism-element-populated {
    margin: 70px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 30px 0 15px;
  }
  .organism-57
    .organism-element.organism-element-b783a53
    > .organism-widget-container {
    margin: 0 0 33px;
  }
  .organism-57 .organism-element.organism-element-2c3f8194 a {
    color: #fff;
  }
  .organism-57
    .organism-element.organism-element-5cdc13de
    > .organism-element-populated {
    margin: 70px 0 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 15px 0 30px;
  }
  .organism-57
    .organism-element.organism-element-8e7ee2f
    > .organism-widget-container {
    margin: 0 0 33px;
  }
  .organism-57 .organism-element.organism-element-4ad6fce2 a {
    color: #fff;
  }
  .organism-57
    .organism-element.organism-element-98e25f1
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 15px 0 30px;
  }
  .organism-57
    .organism-element.organism-element-4a3f8bfe
    > .organism-widget-container {
    margin: 15px 0 33px;
  }
  .organism-57
    .organism-element.organism-element-2112b132.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-57 .organism-element.organism-element-33591d23 {
    width: 768px;
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .organism-57 .organism-element.organism-element-50313d75 {
    padding: 70px 0;
  }
  .organism-57
    .organism-element.organism-element-184e6acf.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-57
    .organism-element.organism-element-184e6acf
    > .organism-element-populated {
    padding: 0 15px;
  }
  .organism-57 .organism-element.organism-element-5d80e4cb .atomic-logo {
    text-align: center;
  }
  .organism-57 .organism-element.organism-element-5d80e4cb {
    width: 118px;
    max-width: 118px;
  }
  .organism-57
    .organism-element.organism-element-14a0ca0f
    .organism-spacer-inner {
    height: 35px;
  }
  .organism-57 .organism-element.organism-element-7bbad96f {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-7bbad96f
    > .organism-widget-container {
    margin: 0;
  }
  .organism-57
    .organism-element.organism-element-101cecb5
    .atomic-phone-wrapper {
    text-align: center;
  }
  .organism-57 .organism-element.organism-element-101cecb5 {
    width: 100%;
    max-width: 100%;
  }
  .organism-57
    .organism-element.organism-element-106a17cf
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-57 .organism-element.organism-element-7a8a3ad0 {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-7a8a3ad0
    > .organism-widget-container {
    margin: 0;
  }
  .organism-57
    .organism-element.organism-element-13f8ff12
    .atomic-email-wrapper {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-2da99360
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-57 .organism-element.organism-element-751165b3 {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-751165b3
    > .organism-widget-container {
    margin: 0;
  }
  .organism-57 .organism-element.organism-element-2154e38d .atomic-address {
    text-align: center;
  }
  .organism-57 .organism-element.organism-element-2154e38d {
    width: 100%;
    max-width: 100%;
  }
  .organism-57
    .organism-element.organism-element-2eec4c28
    .organism-spacer-inner {
    height: 25px;
  }
  .organism-57
    .organism-element.organism-element-74c6d778
    .atomic-social-profiles {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-16ebd421.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-57
    .organism-element.organism-element-16ebd421
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-57 .organism-element.organism-element-b783a53 {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-b783a53
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-57 .organism-element.organism-element-2c3f8194 {
    width: 384px;
    max-width: 384px;
  }
  .organism-57
    .organism-element.organism-element-5cdc13de.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-57
    .organism-element.organism-element-5cdc13de
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-57 .organism-element.organism-element-8e7ee2f {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-8e7ee2f
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-57 .organism-element.organism-element-4ad6fce2 {
    width: 384px;
    max-width: 384px;
  }
  .organism-57
    .organism-element.organism-element-98e25f1.organism-column
    > .organism-widget-wrap {
    justify-content: center;
  }
  .organism-57
    .organism-element.organism-element-98e25f1
    > .organism-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 70px 15px 0;
  }
  .organism-57 .organism-element.organism-element-4a3f8bfe {
    text-align: center;
  }
  .organism-57
    .organism-element.organism-element-4a3f8bfe
    > .organism-widget-container {
    margin: 0 0 35px;
  }
  .organism-57 .organism-element.organism-element-4e6cd9c6 {
    width: 400px;
    max-width: 400px;
  }
  .organism-57
    .organism-element.organism-element-70c2082e
    > .organism-widget-container {
    margin: 0 -15px;
  }
  .organism-57
    .organism-element.organism-element-1b326df4
    .organism-spacer-inner {
    height: 50px;
  }
  .organism-57 .organism-element.organism-element-33591d23 {
    width: 330px;
    max-width: 330px;
  }
  .organism-57
    .organism-element.organism-element-19807411
    .organism-spacer-inner {
    height: 50px;
  }
}
